export(TikTokResearchAPI)
export(Criteria)
export(Query)
export(QueryUserInfoRequest)
export(QueryVideoRequest)
export(QueryVideoCommentsRequest)
export(QueryUserRepostedVideosRequest)
export(QueryUserFollowersRequest)
export(QueryUserFollowingRequest)
export(QueryUserLikedVideosRequest)
export(QueryUserPinnedVideosRequest)
import(bit64)
import(httr)
import(jsonlite)
import(logging)
import(methods)